<Applications>
  <Application Id="39053SchnackerSoftwareSol.TagItCODeer">
      <Extensions>
         <uap3:Extension Category="windows.appUriHandler">
          <uap3:AppUriHandler>
            <uap3:Host Name="https://cschnacker.github.io/TagIt_CO_Deer/index.html" />
          </uap3:AppUriHandler>
        </uap3:Extension>
      </Extensions>
  </Application>
</Applications>