<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="MortgageW23.htm" />
                <add value="MortgageM23" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
